<div class="row">
    <div class="col-sm-4 col-md-4 col-lg-4" >
        <app-link></app-link>
      </div>


<html>
  <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   </head>
</html>


  
<div class="col-sm-9 col-md-6 col-lg-8">
<div *ngFor="let abc of details">

    <section class="container">
        <div  class="float-right" class="chip">
          <img src="assets/logo.jpg" alt="Person" width="96" height="96" >
          Peter Hoang
        </div>
        </section>
      
  
      <h4>{{abc.name}}</h4>
      <img src=" {{abc.img}}" class="img-circle" width="96" height="96" align="middle">

    
      <h3>Rating:</h3>
      
      <h4>{{abc.rating}}</h4>
        <div class="stars">
          <form action="">
            <input class="star star-5" id="star-5" type="radio" name="star"/>
            <label class="star star-5" for="star-5"></label>
            <input class="star star-4" id="star-4" type="radio" name="star"/>
            <label class="star star-4" for="star-4"></label>
            <input class="star star-3" id="star-3" type="radio" name="star"/>
            <label class="star star-3" for="star-3"></label>
            <input class="star star-2" id="star-2" type="radio" name="star"/>
            <label class="star star-2" for="star-2"></label>
            <input class="star star-1" id="star-1" type="radio" name="star"/>
            <label class="star star-1" for="star-1"></label>
          </form>
        </div>
        
      
      <p>{{abc.Description}}</p>
      
      <table style="width:100%">
        <tr>
          <th>Likes</th>
          <th>DisLikes</th>
        </tr>
     <tr>
      <td>{{abc.Likes[0]}}</td>
      <td>{{abc.Dislikes[0]}}</td>
    </tr>
   <tr>
      <td>{{abc.Likes[1]}}</td>
      <td>{{abc.Dislikes[1]}}</td>
    </tr>
    <tr>
      <td>{{abc.Likes[2]}}</td>
      <td>{{abc.Dislikes[2]}}</td>
    </tr>
    <tr>
      <td>{{abc.Likes[3]}}</td>
      <td>{{abc.Dislikes[3]}}</td>
    </tr>
   
     
    </table>
  </div>
  </div>
